#include "/home/zohar/.config/colorscheme"

! special
*.foreground:   FOREGROUND
*.background:   BACKGROUND
*.cursorColor:  CURSORCOLOR

! black
*.color8:       COLOR8
*.color0:       COLOR0

! red
*.color9:       COLOR9
*.color1:       COLOR1

! green
*.color10:      COLOR10
*.color2:       COLOR2

! yellow
*.color11:      COLOR11
*.color3:       COLOR3

! blue
*.color12:      COLOR12
*.color4:       COLOR4

! magenta
*.color13:      COLOR13
*.color5:       COLOR5

! cyan
*.color14:      COLOR14
*.color6:       COLOR6

! white
*.color15:      COLOR15
*.color7:       COLOR7

! rofi
! rofi.color-enabled: true
! rofi.color-window: BACKGROUND, BACKGROUND, BACKGROUND
! rofi.color-normal: BACKGROUND, FOREGROUND, BACKGROUND, BACKGROUND, COLOR5
! rofi.color-active: BACKGROUND, FOREGROUND, BACKGROUND, BACKGROUND, COLOR5
! rofi.color-urgent: BACKGROUND, FOREGROUND, BACKGROUND, BACKGROUND, COLOR5
